[submodule "appengine-wordpress-plugin"]
	path = plugins/appengine-wordpress-plugin
	url = https://github.com/GoogleCloudPlatform/appengine-wordpress-plugin.git
[submodule "batcache"]
	path = plugins/batcache
	url = https://github.com/Automattic/batcache.git
[submodule "wp-memcache"]
	path = plugins/wp-memcache
	url = https://github.com/jeremyfelt/Memcached-Object-Cache.git
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "plugins/woocommerce"]
	path = plugins/woocommerce
	url = git@github.com:tyolab/woocommerce.git
[submodule "themes/storefront"]
	path = themes/storefront
	url = git@github.com:tyolab/storefront.git
[submodule "plugins/paypal-for-woocommerce"]
	path = plugins/paypal-for-woocommerce
	url = https://github.com/wp-plugins/paypal-for-woocommerce.git
